.hidden-job-posting {
  display: none;
}

.hidden-badge {
  opacity: 60%;
  color: gray;
}

.show-posting-button {
  margin-left: 1rem;
  background: #fff;
  box-sizing: border-box;
  border-radius: 3px;
  color: lightskyblue;
  border: none;
}
